:root{
    --bgColor : hsl(275, 100%, 97%);
    --titleColor : hsl(292, 42%, 14%);
    --textColor : hsl(292, 16%, 49%);
    --textHover: #9c1ee6;
}
body{
    margin: 0;
     background-color: var(--bgColor)
}

/* فونت پروژه */
@font-face {
    font-family: 'WorkSans-Bold';
    src: url('/fonts/WorkSans-Bold.ttf') ,format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('/fonts/WorkSans-Regular.ttf') ,format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* پس زمینه */
main{
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}
.header{
    height: 30%;
    background: url(/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/* ==================== باکس اصلی سوالات ================== */
.faq-header{
    display: flex;
    gap: 15px;
}
.faq-header img{
    width: 30px;
}
.faq-header h1{
    font-family: 'WorkSans-Bold';
    font-size: 3rem;
}

/* کانتینر اصلی سوالات متداول */
.faq-container{
    background-color: hsl(0, 0%, 100%);
    max-width: 500px;
    margin-top: -80px;
    padding: 20px;
    border-radius: 15px;
}

/* باکس سوالات */
.faq-question{
     display: flex;
     justify-content: space-between;
}
.faq-question a{
    text-decoration: none;
}

.faq-question p{
    font-family: 'WorkSans-Regular';
    font-size: 16px;
    font-weight: bold;
    color: var(--titleColor)
}
.faq-question p:hover{
    color: var(--textHover);
}
.faq-question button{
    background: none;
    border: none;
}

/* باکس جواب */
.faq-aswer>p{
    font-family: 'WorkSans-Regular';
    font-size: 16px;
    color: var(--textColor);
    line-height: 1.5rem;
    
}